.edit__form__container{
    width: 100%;
    background-color:#03122F;
}
.edit__form__container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px 30px;
    gap: 20px;
    border-radius: 15px;
    flex: 1 1 0;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .edit__form__container form{
        padding: 0 20px 30px;
        width: 100%;
    }
}