dialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
    box-sizing: border-box;
    width: 60%;
    padding: 0;
    background-color: #03122F;
    border-radius: 15px;
    border: 3px solid #6BD1FF;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #03122fc3; /* Fondo negro al 60% */
    cursor: pointer;
}   

@media screen and (max-width: 480px) {
    dialog{
        width: 85%;
    }
}